{% extends "base.html" %}

{% block content %}

<div class="login-selection">

    <div class="welcome-card">

        <h1>BVP ERP System</h1>

        <p>
            Live Timetable Display System
        </p>

        <br>

        <div class="button-group">

            <a href="/student/login" class="main-btn">

                🎓 Student Login

            </a>

            <a href="/faculty/login" class="main-btn">

                👨‍🏫 Faculty Login

            </a>

        </div>

        <br>

        <div class="button-group">

            <a href="/student/register" class="secondary-btn">

                Student Registration

            </a>

            <a href="/faculty/register" class="secondary-btn">

                Faculty Registration

            </a>

        </div>

    </div>

</div>

{% endblock %}